<!DOCTYPE html>
<html>
    <head>
        <title>Albums</title>
    </head>
    <body>
        <h2>Albums</h2>
        <form method="POST" action="/detail">
           Enter Album Title:
            <input name="album" type="text">
            <br/>
           <input type="submit" value="Search"> 
        </form>
        <br/>
            <li><a href ="/detail?album=B">Blue</a></li>
            <li><a href ="/detail?album=Lemonade">Lemonade</a></li>
            <li><a href ="/detail?album=Aqualung">Aqualung</a></li>
            <li><a href ="/detail?album=Artpop">Artpop</a></li>
            <li><a href ="/detail?album=Help">Help</a></li>
    </body>
</html>